@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@-ms-viewport{
  width: device-width;
}
:root {
  --main-color: #442442;
  --primary-color: rgb(6, 6, 156);
  --secondary-color: rgb(48, 48, 180);
  --complimentary-color: #fcbd02;
  --poppins: 'Poppins', sans-serif;
  --pacifico: 'Pacifico', cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #442442;
  color: white;
  text-align: center;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
  padding: .8em;
  font-weight: bold;
}

.header .logo {
  margin-top: 13px;
  font-size: 2em;
}

.header .logo span {
  color: var(--complimentary-color);
  font-family: 'Pacifico', cursive;
}

.header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header ul li, .header ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
  margin: 20px 0 0 0;
  padding: .2em;
  text-align: center;
}

.header ul .current {
  color: var(--complimentary-color);
}

.header ul a:hover {
  color: var(--complimentary-color);
}

.hero {
  margin: 0;
  padding: 0;
  height: 75vh;
  background-image: url("../img/hero_bk.svg");
  background-size: cover;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  margin-top: 4em;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.hero hr {
  width: 30%;
  margin-left: 35%;
  border-radius: 3em;
  height: 10px;
  opacity: 1;
  background: #833ab4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero h4 {
  font-family: var(--pacifico);
  color: var(--complimentary-color);
  font-size: 1.8em;
}

.art {
  padding: 2em;
  background-color: #442442;
}

.art img {
  width: 30%;
  margin-top: -6em;
  margin-left: 35%;
}

.services {
  margin: 0;
  padding: .5em .5em 3em .5em;
  background-color: var(--main-color);
}

.services h1 {
  margin-top: 1em;
  color: #fff;
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

.services .card-container {
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.services .card:not(:first-child) {
  margin-left: -50px;
}

.services .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.services .card:hover ~ .card {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.services .title {
  color: var(--main-color);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.services .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 100px;
}

.services .emptybar {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
}

.services .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: -webkit-gradient(linear, left top, right top, from(#009ad9), color-stop(65%, #d99300), to(#ffba00));
  background: linear-gradient(90deg, #009ad9 0%, #d99300 65%, #ffba00 100%);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.services .card:hover .filledbar {
  width: 100px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.services .circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.services .circle img {
  width: 82%;
  border: 1px;
  border-radius: 5px;
}

.services .stroke {
  stroke: #000;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.services svg {
  fill: #fff;
  stroke-width: 2px;
}

.services .card:hover .stroke {
  stroke-dashoffset: 100;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.portfolio {
  margin: 1.5em 0;
  padding: .5em;
}

.portfolio h1 {
  margin-top: 3em;
  color: #000;
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

.portfolio .card-row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .card {
  position: relative;
  height: 350px;
  width: 240px;
  background: var(--main-color);
  color: #fff;
  margin: 2em 10px 0 0;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 5px 4px 15px rgba(196, 196, 196, 0.4);
          box-shadow: 5px 4px 15px rgba(196, 196, 196, 0.4);
  cursor: pointer;
}

.portfolio .card:hover {
  width: 260px;
  height: 380px;
  -webkit-transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  -webkit-box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
}

.portfolio .card:hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.portfolio .card:hover .card-image {
  -webkit-transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  height: 100%;
  opacity: 0.3;
}

.portfolio .card-image {
  position: absolute;
  top: 0;
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.portfolio .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 23px;
}

.portfolio .card-title {
  line-height: 21px;
  margin-top: 5px;
  margin-bottom: 1px;
  font-weight: bold;
}

.portfolio .card-text {
  letter-spacing: 0.1em;
  font-weight: 400;
  color: var(--complimentary-color);
}

.portfolio .card-text :last-child {
  letter-spacing: unset;
}

.contacts {
  background-color: var(--main-color);
  margin: 0;
  padding: 3em;
}

.contacts h1 {
  margin-top: 2em;
  color: #fff;
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

.contacts .form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
  padding: 1.2em;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .form .input {
  width: 100%;
  background-color: var();
  margin: 0.7em 0;
  padding: 15px;
  border: 2px var(--complimentary-color) solid;
  border-radius: 10px;
  overflow: hidden;
}

.contacts .form .send-btn {
  background-color: var(--main-color);
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  text-transform: capitalize;
  padding: 1em;
  border: 2px var(--main-color) solid;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.contacts .form .send-btn:hover {
  background-color: #fff;
  color: var(--main-color);
}
/*# sourceMappingURL=style.css.map */
